@import url("https://fonts.googleapis.com/css?family=Pacifico|Raleway:300,400,700,900&subset=latin-ext");
html {
  font-size: 14px; }

body {
  font-family: "Raleway", sans-serif;
  color: #262626;
  position: relative; }

img {
  max-width: 100%; }

.about-item-title,
.services-item-title,
.gallery-title,
.subscribe-title,
.blog-title,
.contact-title {
  font-size: 5.3rem;
  margin-bottom: 2rem;
  font-weight: 700; }

header {
  transition: 0.5s linear; }

.header-active {
  background: #fff; }

.navbar {
  padding: 0; }
  .navbar .navbar-brand {
    color: rgba(0, 0, 0, 0.9);
    font-family: "Pacifico", cursive;
    font-size: 2.94rem; }
    .navbar .navbar-brand:hover {
      color: #FF6033; }
  .navbar .navbar-nav {
    background: #FBFBF7; }

.navbar-light .navbar-nav li > .nav-link.active,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: #262626; }

navbar-light .navbar-nav li > .nav-link.active {
  font-weight: 700;
  background: #FF6033; }

.nav-link {
  color: #262626;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase; }

.hamburger {
  padding: 15px 0;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }

.hamburger:hover {
  opacity: 0.8; }

.hamburger.is-active:hover {
  opacity: 0.8; }

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #FF6033; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 33px;
  height: 3px;
  background-color: #262626;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease; }

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block; }

.hamburger-inner::before {
  top: -10px; }

.hamburger-inner::after {
  bottom: -10px; }

.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }

.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }

.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

button:focus {
  outline: none;
  outline: none; }

@media (min-width: 768px) {
  .main-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030; }

  .navbar .navbar-nav {
    background: transparent; }

  .navbar-light .navbar-nav li > .nav-link.active {
    background: transparent;
    color: #262626;
    border-top: 2px solid #FF6033; }

  .navbar-light .navbar-nav .nav-item:hover {
    background: transparent;
    color: #262626; }

  .navbar-light .navbar-nav .nav-link {
    border-top: 2px solid transparent;
    font-size: 1.1rem;
    padding: 5px 0;
    margin-left: 15px; }

  .navbar-light .navbar-nav .nav-item:first-of-type .nav-link {
    margin-left: 0; }

  .navbar-light .navbar-nav .nav-link:hover {
    color: #262626; }

  .hvr-overline-from-left {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden; }

  .hvr-overline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    top: 0;
    background: #FF6033;
    height: 2px;
    transition-property: right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out; }

  .hvr-overline-from-left:hover:before,
  .hvr-overline-from-left:focus:before,
  .hvr-overline-from-left:active:before {
    right: 0; }

  .navbar-light button.hamburger {
    display: none; } }
@media (min-width: 992px) {
  html {
    font-size: 17px; }

  .navbar-light .navbar-nav .nav-link {
    margin-left: 30px; }

  .navbar-light .navbar-nav .nav-item:first-of-type .nav-link {
    margin-left: 0; } }
.hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0; }
  .hero .display-4 {
    font-weight: 900; }
  .hero .btn-danger {
    color: #fff;
    background-color: #FF6033;
    border-color: #FF6033;
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); }
    .hero .btn-danger:hover {
      background-color: #fff;
      color: #FF6033 !important;
      transition: 0.6s linear; }

@media (min-width: 992px) {
  .hero {
    padding: 250px 0; } }
@media (min-width: 1200px) {
  .hero {
    padding: 200px 0 420px; } }
.about figure img {
  display: block;
  max-width: 100%; }

@media (min-width: 768px) {
  .about {
    padding: 50px 0; } }
.services .services-items {
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px; }
  .services .services-items:last-of-type {
    margin-bottom: 0px; }
  .services .services-items .services-items-title {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 0; }
    .services .services-items .services-items-title:hover {
      color: #FF6033;
      cursor: pointer; }
  .services .services-items figure {
    margin-bottom: 0;
    border-left: 1px solid #9D9D9D;
    height: 4.8rem; }
    .services .services-items figure img {
      width: 45px;
      height: 45px;
      display: block;
      max-width: 100%;
      margin: 0 auto; }
.services .services-item-title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto; }
  .services .services-item-title:hover {
    color: #FF6033 !important;
    cursor: pointer; }

@media (min-width: 768px) {
  .services {
    padding: 50px 0 70px !important; } }
@media (min-width: 768px) {
  .services {
    padding: 70px 0 100px !important; } }
.gallery figure {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); }
.gallery .btn-danger {
  background-color: #5585A2;
  border-color: #5585A2; }
  .gallery .btn-danger:hover {
    background-color: #fff;
    color: #5585A2 !important;
    transition: 0.6s linear; }

@media (min-width: 576px) {
  .gallery-description {
    width: 90%; } }
@media (min-width: 768px) {
  .gallery {
    padding: 60px 0 80px !important; }

  .mb-md-custom {
    margin-bottom: 22px; }

  .gallery-description {
    width: 80%; } }
@media (min-width: 992px) {
  .gallery {
    padding: 80px 0 100px !important; }

  .gallery .row {
    margin-bottom: 41px !important; }

  .gallery-description {
    width: 60%; } }
@media (min-width: 1200px) {
  .gallery {
    padding: 100px 0 120px !important; }

  .gallery-description {
    margin-bottom: 41px !important;
    width: 50%; } }

/*# sourceMappingURL=theme.css.map */
