
.hero {
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    padding:80px 0;
    .display-4 {
        font-weight:900;
        &:hover {
            transition:0.4s linear;
            color:$orange;
            cursor:pointer;
        }
    }
    .btn-danger {
        color:$white;
        background-color:$orange;
        border-color: $orange;
        border-radius:0;
        box-shadow: 0 2px 5px rgba(0,0,0,0.5);
        &:hover {
            background-color: $white;
            color: $orange !important;
            transition:0.6s linear;
        }
    }
}

@media(min-width:992px) {
    .hero {
        padding: 250px 0;
    }
}
@media(min-width:1200px) {
    
    .hero {
        padding: 200px 0 420px;
    }
}

