
.services {
    .services-items {
        background:$white;
        box-shadow: 0 2px 5px rgba(0,0,0,0.5);
        margin-bottom:20px;
        &:last-of-type {
            margin-bottom:0px;
        }
        .services-items-title {
            font-size: 1.2rem;
            font-weight: 700;
            margin-bottom: 0;
            &:hover {
                color:$orange;
                cursor:pointer;
                transition:0.4s linear;
            }
        }
        figure {
            margin-bottom:0;
            border-left: 1px solid $gray;
            height: 4.8rem;
            img {
                width: 45px;
                height: 45px;
                display: block;
                max-width: 100%;
                margin:0 auto;

            }

        }
    }
    .services-item-title {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        margin: 0 auto;
        &:hover {
            color:$orange !important;
            cursor:pointer;
            transition:0.4s linear;
        }
    }
}

@media(min-width:768px) {
    .services {
        padding: 50px 0 70px !important;
    }
}
@media(min-width:768px) {
    .services {
        padding: 70px 0 100px !important;
    }
}

